
.carousel-container {
    height: 50vh;
    position: relative;
    border-color: #4b5563;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none; /* Pour Firefox */
  }
  
  .carousel-container::-webkit-scrollbar {
    display: none; /* Pour Chrome, Safari et Opera */
  }  

  .carousel-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 50vh;
    border-radius: 20%;
    transition: transform 0.3s ease;
  }
  
  .carousel-card:hover {
    transform: scale(1.1);
  }
  
  .carousel-card > img {
    height: 80%;
    width: 80%;
    border-radius: 10%;
  }

  .carousel-track {
    display: flex;
    position: absolute;
    left: 0;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 200%; /* Largeur augmentée pour créer l'effet de défilement */
    height: 100%;
  }
  
 

  .carousel-track:hover {
    animation-play-state: paused;
  }
